/*
	Stylesheet for a gallery showing featured games for Kugelblitz
	By Jose Bautista
	Student ID: w1544934
*/

/*
	Below are general containers for page information, not mandatory
*/

.container:before, .container:after, .row-padding:before, .row-padding:after {
	content:"";
	display:table;
	clear:both;
}

.container {
	padding:0.01em 16px;
}


/*
	Below are rules for the gallery
*/

#galleryContainer {
	box-sizing: border-box;
}

.topContainer {
	line-height: 0;
	box-sizing: border-box;
}

.featuredContainer {
	position: relative;
	width: 75%;
	display: inline-block;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	box-sizing: border-box;
}

.featuredGame {
	animation: fading 0.8s;

}

#descriptionContainer {
	width: 24%;
	display: inline-block;
	vertical-align: top;
	line-height: normal;
	height: 400px;
	padding-left: 5px;
	box-sizing: border-box;
}

.featuredDescription {
	display: none;
	position: relative;
	height: 400px;
	box-sizing: border-box;
}

.featuredDescription h3{
	color: #fff;
	margin: 0;
	padding-top: 0.5em;
}

.status {
	padding-top: 0.5em;
	font-size: 13px;
}

.description {
	padding-top: 10px;
	font-size: 15px;
	line-height: 19px;
}

.price {
	color: #fff;
	position: absolute;
	bottom: 8px;
	font-size: 14px;
}

.buy {
	position: absolute;
	padding: 4px;
	bottom: 5px;
	right: 15px;
	text-transform: uppercase;
	background-color: rgba(85, 85, 85, 0.7);
	text-align: center;
	border: 1px solid #AAA;
	border-radius: 5px;
	font-size: 13px;
}

.section {
	margin-top:16px!important;
	margin-bottom:16px!important
}

.row-padding {
	padding:0 8px;
	line-height:0;
}

.thumbnail {
	margin:0.83%;
	float:left;
	width:18.3%;
	box-shadow:0 1px 5px rgba(0,0,0,0.3);
}


/*
	Below are gallery animations
*/

.pointer {
	cursor:pointer;
	transition:0.5s;
}

.opacity {
	opacity:0.60;
	-webkit-backface-visibility:hidden;
}

.opacity-off, .hover-opacity-off:hover {
	opacity:1;
	-webkit-backface-visibility:hidden;
}

@keyframes fading {
	0% {
		opacity:0.7
	}
	
	100% {
		opacity:1
	}
}

/*
	Below are the collapsible style settings
*/

#settings {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
    height: auto;
    float: left;
    z-index: 10;
    background: #222;
    padding: 40px 20px 20px 20px;
    opacity: 0.9;
    animation: fadein 0.5s;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.9;
	}
}

/*
	Fill Color Icon
	by ✦ Shmidt Sergey ✦
	from Noun Project (https://thenounproject.com/search/?q=color+bucket&i=689818)
	CC BY 3.0 US (https://creativecommons.org/licenses/by/3.0/us/)
*/

.settingsButton {
	z-index: 11;
	position: absolute;
	opacity: 0.7;
	padding-top: 5px;
	padding-left: 5px;
}

.settingsButton:hover {
	opacity: 1;
}

#settings:target {
	display: block;
}

.show {
	display: none;
}

.hide:target + .show {
	display: inline;
}

.hide:target {
	display: none;
}

.hide:target ~ #settings {
	display: inline;
}

#settings label {
	display: block;
	margin-top: 20px;
	height: 18px;
}

#settingsLabel {
	position: absolute;
	top: 20px;
	right: 20px;
	font-weight: 600;
	color: #fff;
}

/*
	Bellow are gallery background and text settings
*/

.defaultBackground, .whiteBackground, .blackBackground, .redBackground, .blueBackground, .greenBackground {
	max-width: 950px;
	margin:auto;
	background: #222;
	border-radius: 5px;
}

.whiteBackground {
	background-color: white;
}
.blackBackground {
	background-color: black;
}
.redBackground {
	background-color: darkred;
}
.blueBackground {
	background-color: blue;
}
.greenBackground {
	background-color: green;
}

.defaultText {
	color: inherit;
}

.whiteText {
	color: white;
}
.blackText {
	color: black;
}
.redText {
	color: darkred;
}
.blueText {
	color: blue;
}
.greenText {
	color: green;
}
