/*
	Background image (background.gif) from weinventyou.net, Zach Scott.
*/

body {
	background-image: url("background.gif");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-attachment: fixed;
	color: rgba(250, 250, 250, 1);;
}

h2 {
	text-shadow: -1px -1px 1px black;
}

h3 {
	text-shadow: 0 -1px 1px black;
}

a.content {
	color: rgba(250, 250, 250, 1);
}

.container {
	max-width: 800px;
	width: 75%;
	background-color: rgba(5, 5, 5, 0.5);
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
	padding: 50px;
	text-shadow: 0 0 1px black;
}

.half {
	width: 49.6%;
	display: inline-block;
}

.entry {
	display:block;
}

.img-circle {
	display: block;
	border-radius: 50%;
	position: fixed;
	right: 10px;
	top: 100px;
}
